<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Mapbox CDN -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <style>
        #alert1,
        #alert2,
        #alert3,
        #user-id {
            display: none;
        }
    </style>

    <title>Geotrip | Home</title>
</head>

<body>
    <div class="container my-3">
        <input type="text" id="user-id" value=<%=userId%>>
        <h1 class="display-4 text-center"><i class="fas fa-map-marked mr-4"></i>Geotrip Locator</h1>
        <a href="#" class="btn btn-success mb-4" data-toggle="modal" data-target="#form">Add location</a>
        <a href="/logout" class="btn btn-success mb-4">Logout</a>
        <div id="map" style="width: 100%; height: 500px; border-radius: 20px; border: 1px solid black"></div>
    </div>

    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="location-form">
                    <div class="modal-body">
                        <div id="alert1" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Location added successfully!!
                        </div>
                        <div id="alert2" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Please fill in all the fields!!
                        </div>
                        <div id="alert3" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Location already exists!!
                        </div>
                        <div class="form-group">
                            <label for="location-id">Location Alias</label>
                            <input type="text" id="location-id" class="form-control" placeholder="New York City --> NYC"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="location-address">Location Address</label>
                            <input type="text" id="location-address" class="form-control"
                                placeholder="20 Cooper Square, New York, USA" required />
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- External JS -->
    <script src="js/map.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>